<template>
<section class="q-pa-sm column is-three-fifths is-offset-one-fifth">
  <div class="row justify-center text-center">
    <div class="q-pa-sm col-xs-12">
      <q-banner :class="$socket.connected ? 'text-white bg-green' : 'bg-red'">
        {{ $socket.connected ? $t('Bot.connected') : $t('Bot.disconnected') }}
      </q-banner>
    </div>
  </div>

  <div class="row justify-center">
    <div>
      <h2 class="text-h2">{{ $t("Bot.title") }}</h2>
      <q-separator />
    </div>
  </div>

  <h5 class="text-h5" v-if="userReadOnly">{{$t('Bot.userId')}} <q-badge color="blue-13" align="middle" transparent>{{username}}</q-badge></h5>
  <h5 class="text-h5">{{ userReadOnly ? $t('Bot.sendMsgTitle') : $t('Bot.description') }}</h5>

  <div class="row justify-center" v-if="userReadOnly">
    <div class="q-pa-md col-xs-12 col-md-8" style="max-width: 700px">
      <q-form @submit="SendMsg" @reset="onResetSendMsg" class="q-gutter-md">
        <q-input filled color="blue-13" v-model="recipient"
                 :label="$t('form.sendMsg.recipient')"
                 :hint="$t('form.sendMsg.hintRecipient')">
          <template v-slot:prepend>
            <q-icon name="person" />
          </template>
        </q-input>
        <q-input filled color="blue-13" v-model="textToSend"
                 type="textarea"
                 :label="$t('form.sendMsg.content')"
                 :hint="$t('form.sendMsg.hintContent')">
          <template v-slot:prepend>
            <q-icon name="insert_comment" />
          </template>
        </q-input>

        <div>
          <q-btn label="Submit" type="submit" color="primary"/>
          <q-btn label="Reset" type="reset" color="primary" flat class="q-ml-sm" />
        </div>
      </q-form>
    </div>
  </div>

  <div class="row justify-center" v-if="!userReadOnly">
    <div class="q-pa-md col-xs-12 col-md-8" style="max-width: 700px">
      <q-form @submit="onSubmit" @reset="onReset" class="q-gutter-md">
        <q-input filled color="blue-13" v-model="username"
                :label="$t('form.login.label')"
                :hint="$socket.connected ? '' : $t('form.login.hint')" lazy-rules
                :rules="[ val => val && val.length > 0 || $t('form.login.rules')]">
          <template v-slot:prepend>
            <q-icon name="person" />
          </template>
        </q-input>

        <div>
          <q-btn label="Submit" type="submit" color="primary"/>
          <q-btn label="Reset" type="reset" color="primary" flat class="q-ml-sm" />
        </div>
      </q-form>
    </div>
  </div>

	<div class="row justify-center fixed-bottom" v-if="isLoading">
    <q-linear-progress indeterminate />
  </div>

  <h5 class="text-h5" v-if="userReadOnly">{{$t('Bot.sendMsg')}}</h5>
  <section>
  <div v-if="userReadOnly" class="column justify-center text-center">
      <qrcode-vue :value="username" :size="300" level="L" class="q-mt-md"></qrcode-vue>


    <p>{{messages.length + " " + $t('Bot.receivedMessages')}}</p>

    <q-btn label="Send Test Msg" type="submit" color="primary" @click="sendTestMsg()"/>

<div class="q-pa-md">
    <div class="row justify-center q-gutter-sm">
      <q-intersection
        v-for="message of messages"
        :key="message._id"
        class="card"
      >
        <q-card class="q-ma-sm">
         <!-- <img src="https://cdn.quasar.dev/img/mountains.jpg">-->

         <q-card-section>
            <div class="text-h6">{{ message.date | formatDate }}</div>
            <div class="text-subtitle2">{{ message._id }} </div>
						<div class="text-subtitle2">{{message.from}}</div>
          </q-card-section>
        </q-card>
      </q-intersection>
    </div>
  </div>

  <div class="q-pa-md" style="">
    <q-list v-for="message of messages" :key="message._id">
      <q-expansion-item popup   icon="mail" :label="message._id" :caption="message.from">
        <q-separator />
        <q-card>
          <q-card-section>
        <q-btn :icon="!message.locked ? 'lock-open' : 'lock'" color="primary" @click="Decrypt(message._id)" :id="message._id" :value="message._id"></q-btn>
				 <p>{{$t('Bot.id')}}: {{message._id}} </p>
         <p>{{$t('Bot.from')}}: {{message.from}} </p>
         <p>{{$t('Bot.date')}}: {{message.date | formatDateItem }} </p>
         <p>{{$t('Bot.payload')}}: <pre>{{message.msg}}</pre></p>

          </q-card-section>
        </q-card>
      </q-expansion-item>
    </q-list>
  </div>
</div>
</section>
</section>
</template>

<script>
// SOCKET IO Events
  var userRegisterEvent = "user:register";
  var userLoginEvent = "user:login";
  var userAuthEvent = "user:auth";
  var messageReceiveEvent = "message:receive";
  var messageSendEvent = "message:send";

  const userGetPublicKeyEvent = "user:getPublicKey";

  var messageUploadEvent = "message:upload";

  var userLockEvent = "user:lock";
  var userUnlockEvent = "user:unlock";

  var userDestroyEvent = "user:destroy";

  var userDisconnectEvent = "disconnect";

  const success = ":success";
  const err = ":err";

  import moment from 'moment'
  import Vue from "vue";
  import VueSocketIo from "vue-socket.io-extended";
  import SocketIo from "socket.io-client";
  import QrcodeVue from 'qrcode.vue';
  import { mapState, mapMutations } from 'vuex';

  var openpgp = require('openpgp'); // use as CommonJS, AMD, ES6 module or via window.openpgp


  Vue.use(
    VueSocketIo,
      //SocketIo(process.env.VUE_APP_API_APP, {
      SocketIo("https://api.dev.socket.messenkrypt.xyz", {
        autoConnect: false
      })
  );

  Vue.filter('formatDate', function(value) {
    if (value) {
      return moment(String(value), "YYYY-MM-DD'T'hh:mm:ss.SSS'Z'").calendar();
    }
  })

  Vue.filter('formatDateItem', function(value) {
    if (value) {
      return moment(String(value), "YYYY-MM-DD'T'hh:mm:ss.SSS'Z'").format('LLLL');
    }
  })

  export default Vue.extend({
    components: {
      QrcodeVue
    },

    data() {
      return {
        username: null,
        index: "",
        textToSend: null,
        recipient: null,
        publicKeys: []
      }
    },

    computed: {
      ...mapState([
        'isLoading',
        'userReadOnly',
        'privkey',
        'pubkey',
        'messages'
      ])
    },

    filters: {
      pretty: function(value) {
        //return JSON.stringify(JSON.parse(value), null, 2);
	      return JSON.stringify(value, null, 2);
      }
    },

    created() {
      this.$socket.$subscribe(userRegisterEvent + err, payload => {
        this.setIsLoading(false);
        console.log("User Not Registered !");
        console.log(payload);
      });

      this.$socket.$subscribe(userRegisterEvent + success, payload => {
        this.setIsLoading(false)
        this.setUserReadOnly(true)
		    this.username = payload.username;
		    console.log("User Registered !");
		    this.$socket.client.emit(userLoginEvent, this.username);
      });

      this.$socket.$subscribe(userLoginEvent, payload => {
        console.log(payload);
		    console.log("Challenge Received !");
		    console.log("Challenge Decrypted !");
		    this.$socket.client.emit(userAuthEvent, "lol", this.username);
		    console.log("Challenge Sent !");
      });

      this.$socket.$subscribe(userLoginEvent + err, payload => {
        console.log(payload);
      });

      this.$socket.$subscribe(userAuthEvent + success, payload => {
        console.log("Challenge Authenticated !");
      });

      this.$socket.$subscribe(userAuthEvent + err, payload => {
        console.log(payload);
      });

      this.$socket.$subscribe("user:askauth", payload => {
        console.log("askauth");
        this.$socket.client.emit(userLoginEvent, this.username);
      });

      this.$socket.$subscribe(messageReceiveEvent, payload => {
        console.log(payload);
        payload = JSON.parse(payload);
        this.$q.notify({
          progress: true,
          message: payload.from + ' send you message.',
          icon: 'mail',
          color: 'white',
          textColor: 'primary'
        });
        payload.locked = true;
        this.addMessage(payload)
      });

      this.$socket.$subscribe(userGetPublicKeyEvent + success, payload => {
        this.publicKeys.push(payload);
      });
    },

    sockets: {
      connect() {
        console.log('socket connected')
      },
      "err"(data) {
        console.log(data);
        this.setIsLoading(false)
        self.$q.notify({
          type: 'negative',
          message: data
        });
      }
    },

    methods: {
      ...mapMutations([
        'setIsLoading',
        'setUserReadOnly',
        'setPrivKey',
        'setPubKey',
        'addMessage',
        'setMessageLocked',
        'setMessageMsg',
        'setMessageEncryptedMsg'
      ]),
      onReset () {
        this.username = null
      },
      onSubmit (event) {
        this.setIsLoading(true)
        var options = {
          userIds: [{ name: "Jon Smith", email: "jon@example.com" }], // multiple user IDs
          rsaBits: 4096
              //curve: "curve25519" // ECC curve name
              //passphrase: 'super long and hard to guess secret'         // protects the private key
        };
        var self = this;
        console.log("Starting Generate PGP Key...");
        openpgp.generateKey(options).then(function(key) {
          self.setPrivKey(key.privateKeyArmored) // '-----BEGIN PGP PRIVATE KEY BLOCK ... '
          self.setPubKey(key.publicKeyArmored) // '-----BEGIN PGP PUBLIC KEY BLOCK ... '
		      console.log("done");
		      console.log("Connecting to Socket now");
		      self.$socket.client.connect();
		      self.$socket.client.emit(userRegisterEvent, self.username, self.pubkey);
        });
      },
	sendTestMsg(){
          this.$socket.client.emit(messageSendEvent, this.username, "Test Mesage");
      },
	async SendMsg(){
          this.$socket.client.emit(userGetPublicKeyEvent, this.recipient);
          const getRecipientInfo = await this.publicKeys.find(Elem => Elem.username === this.recipient);
          console.log(getRecipientInfo.publicKey);
	  // ADD ENCRYPTION HERE
	  const { data: encrypted } =  await openpgp.encrypt({
              message: openpgp.message.fromText(this.textToSend),                 // input as Message object
              publicKeys: (await openpgp.key.readArmored(this.pubkey)).keys, // for encryption
	      //privateKeys: [privateKey]                                           // for signing (optional)
	  });
	    this.$socket.client.emit(messageSendEvent, this.recipient, encrypted);
	},
	onResetSendMsg(){
            this.recipient = "";
            this.textToSend = "";
	},
	async Decrypt (event){
            var self = this
            console.log(event)
            var n = -1;
            for(var i = 0; i < this.messages.length; i++){
		console.log(this.messages[i]._id);
		if (this.messages[i]._id == event){
		    n = i;
		}
            }
            if (this.messages[n].locked == false) {
		this.setMessageLocked({ 'nth': n, 'value': true})
		this.setMessageMsg({ 'nth': n, 'value': this.messages[n].encryptedMsg})
            }
            else {
		console.log(this.messages[n].locked)
		const privKeyObj = (await openpgp.key.readArmored(self.privkey)).keys[0]
		const options = {
		    message: await openpgp.message.readArmored(self.messages[n].msg),    // parse armored message
		    publicKeys: (await openpgp.key.readArmored(self.pubkey)).keys, // for verification (optional)
		    privateKeys: [privKeyObj]                                 // for decryption
		}
		openpgp.decrypt(options).then(plaintext => {
		    console.log(plaintext.data)
		    self.setMessageEncryptedMsg({ 'nth': n, 'value': self.messages[n].msg})
		    self.setMessageMsg({ 'nth': n, 'value': plaintext.data})
		    self.setMessageLocked({ 'nth': n, 'value': false})
		})
            }
	}
    }
  });

</script>
