<template>
  <q-layout view="lHh Lpr lFf">
    <q-header elevated>
      <q-toolbar>
        <q-btn
          flat
          dense
          round
          icon="menu"
          aria-label="Menu"
          @click="leftDrawerOpen = !leftDrawerOpen"
        />

        <q-toolbar-title>
          MessEnkrypt Web App
        </q-toolbar-title>

        <div>{{ version }}</div>
      </q-toolbar>
    </q-header>

    <q-drawer
      v-model="leftDrawerOpen"
      show-if-above
      bordered
      content-class="bg-grey-1"
    >
      <q-list>
        <q-item-label
          header
          class="text-grey-8"
        >
          Essential Links
        </q-item-label>
        <EssentialLink
          v-for="link in essentialLinks"
          :key="link.title"
          v-bind="link"
        />
      </q-list>
    </q-drawer>

    <q-page-container>
      <router-view />
    </q-page-container>
  </q-layout>
</template>

<script>
import EssentialLink from 'components/EssentialLink'

export default {
  name: 'MainLayout',

  components: {
    EssentialLink
  },

  data () {
    return {
      leftDrawerOpen: false,
      version: process.env.VUE_APP_VERSION,
      essentialLinks: [
        {
          title: 'Website',
          caption: 'https://messenkrypt.com',
          icon: 'public',
          link: 'https://messenkrypt.com'
        },
	 {
          title: 'Bot',
          caption: 'https://web.messenkrypt.com/bot',
          icon: 'link',
          link: 'https://web.messenkrypt.com/bot'
        }
      ]
    }
  }
}
</script>
